<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Semantic web technology</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#">Semantic web technology</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <spav class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav> <!-- /navbar -->

      <!-- Main component for a primary marketing message or call to action -->
      <div class="col-lg-6">
        <div class="jumbotron">
          <h1>Hello {{ annotator }}</h1>
          <hr />
          {% if data.normalisedText %}
            <h2>#{{ data.counter}} - <span id="word">{{ data.normalisedText }}</span></h2>
            {% if data.nl_entity_class %} <p>NL entity class: {{data.nl_entity_class}}</p>{% endif %}
          {% endif %}
          <p id="sentence">{{ data.sentence }}</p>

          <form method="POST" action="/annotate">
            <input type="hidden" name="wordId" value="{{ data.wordId }}" />
            <button type="submit" class="btn btn-md btn-primary" name="annotate" value="1">Annotate</button> 
            <button type="submit" class="btn btn-md btn-danger" name="annotate" value="0">Not a Geoname</button>
            <table class="table-striped" style="margin: 20px;">
                <tr>
                  <td>
                    <input type="radio" name="link" value="not found" />
                  </td>
                  <td>
                    Not Found
                  </td>
                </tr>
              {% for link in data.links %}
                <tr>
                  <td>
                    <input type="radio" name="link" value="{{ link }}" />
                  </td>
                  <td>
                    <a href="#" style="margin-left: 5px; font-size: 12px;" class="wiki_url" url="{{ link }}">{{ link.split('/')[-1][:30] }}</a>
                  </td>
                </tr>
              {% endfor %}
                 <tr>
                  <td>
                    <input type="radio" name="link" value="not found" />
                  </td>
                  <td>
                    Not Found
                  </td>
                </tr>
            </table>
            <input type="text" name="manual_link" placeholder="http://en.wikipedia.nl/" />
            <br /><br />
            <button type="submit" class="btn btn-md btn-primary" name="annotate" value="1">Annotate</button> 
            <button type="submit" class="btn btn-md btn-danger" name="annotate" value="0">Not a Geoname</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <iframe id="preview-frame" src="" style="width: 100%; height: 500px;"></iframe>
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js')}}"></script>
    <script type="text/javascript">
      $('.wiki_url').click(function() {
        console.log($(this).attr('url'));
        $('#preview-frame').attr('src', $(this).attr('url'));
      });
      $("#sentence").text.replace($('#word').text, '<bold>'+$('#word').text+'</bold>');

    </script>
  </body>
</html>
